/* adressInfo.css */

.info-container {
  position: absolute;
  font-family: Helvetica, sans-serif;
  max-width: 382px; /* Hauteur fixe */
  max-height: 192px; /* Hauteur fixe */
  background-color: #fff;
  top: 488px; /* Ajustez la position par rapport au haut de l'écran */
  left: 205px; /* Ajustez la position par rapport au bord gauche de l'écran */
  z-index: 10;
  background-color: #fff;
  border: 2px solid green;
  margin: 20px;
  box-sizing: border-box;
}

/* Responsivité : Ajuste les dimensions du conteneur en fonction de la taille de l'écran */
@media screen and (max-width: 382px) {
  .info-container {
    max-width: 100%; /* Utilise toute la largeur de l'écran pour les petits écrans */
    left: 0;
    right: 0;
    top: auto;
  }
}

.adresse p {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  margin-top: 2px;
}

.adresse ul li {
  border: 2px solid green;
  margin-bottom: 10px;
}

h1 {
  box-sizing: border-box;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

/* Supprimer les puces de la liste */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Alignement horizontal pour les icônes */
.social-icons {
  display: flex; /* Affiche les éléments en ligne */
  padding: 0; /* Supprime le padding par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

.social-icons li {
  margin-right: 10px; /* Espacement entre les icônes */
}

/* Style pour les icônes */
.social-icons li a i {
  font-size: 24px; /* Taille des icônes */
  color: #000000; /* Couleur des icônes, change selon ton design */
}

/* Enlève le soulignement des liens */
.social-icons li a {
  text-decoration: none;
}

/* Style pour les liens d'email */
.adresse p a {
  color: #000; /* Couleur noire */
  text-decoration: none; /* Enlève le soulignement */
}

.adresse p a:hover {
  text-decoration: underline; /* Soulignement au survol (optionnel) */
}
