/* ---------- public/css/style.css -------------------------------- */
/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url(fonts-Helvetica.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/*
    font-family: 'Helvetica', sans-serif;
    icones: font-awesome
*/

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(adresseInfo.css);
@import url(contact-form.css);
@import url(header.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000;
}

body {
  -webkit-font-smoothing: antialiased; /* Pour les navigateurs WebKit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Pour Firefox sur MacOS */
  background-color: #f4f4f4;
  font-family: Helvetica, sans-serif;
}

h1,
h2 {
  letter-spacing: 0;
  font-family: "Helvetica";
  position: relative;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-weight: 300px;
  line-height: 120% !important;
  height: 24px;
  width: 364px;
}

h2 {
  font-size: 34px;
  font-weight: 700px;
  line-height: 120% !important;
}

a {
  text-decoration: none !important;
  color: #000000;
}

p {
  font-size: 18px;
  letter-spacing: 0;
}

a.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Supprimer les puces de la liste */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

:focus {
  outline: 0;
}

.container {
  max-width: 1440px; /* Utilise toute la largeur disponible du conteneur */
  max-height: 884px; /* Hauteur fixe */
  background-color: #fff;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #218838;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
